@{
  Layout = "_Layout";
}

@model RecordBox.Models.Record

<h2>Delete</h2>

<h4>Delete this record: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}